/* Add CSS Styling */
.oddNumbers {
    background-color: #f79baa;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#two {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

.oddNumbers.three {
    font-size: 24px;
}

#four {
    background-color: hsl(120, 73%, 75%);
    font-size: 24px;
    font-weight: bold;
}