/* Add CSS Styling */
.btn {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.click {
    background-color: rgb(0, 0, 0);
    color: hsl(0, 0%, 100%);
}

.dont {
    background-color: #ffff00;
}