/* Add CSS Styling */
.btn1, .btn2 {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.btn1 {
    background-color: rgb(0, 0, 0);
    color: hsl(0, 0%, 100%);
}

.btn2 {
    background-color: #ffff00;
}