body {
  font-family: Arial, Helvetica, sans-serif;
}

.para,
.small-para {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
}

.para {
  font-size: 22px;
}

/* moved .small-para at the bottom of .para since they both have .para classes*/
.small-para {
  font-size: 14px;
  font-weight: 800;
}

.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

/* moved .confirm to the bottom of .button so it gets applied 
since they're both classes and equal */
.confirm {
  background: green;
  color: white;
  font-weight: bold;
} 

/* added .text to make style more specific to this line only 
moving .child to the bottom didn't do anything */
.text.child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
}

div.text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 100;
}
